.blue {
  background-color: rgba(0, 191, 255, 0.226);
  color: black !important;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin: 1.5em;
}

.yellow {
  background-color: gold;
  padding: 1em;
}

.space-around {
  display: flex;
  justify-content: space-around !important;

  padding: 2em;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center !important;
}

.plant {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  background-color: blanchedalmond;
  text-align: center;
}

.garden {
  background-color: rgba(0, 191, 255, 0.336);
  width: 50em;
  height: 50em;
}
